@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');
@import 'bulma.css';

a {
  -o-transition: all 0.25s linear !important;
   -moz-transition: all 0.25s linear !important;
   -khtml-transition: all 0.25s linear !important;
   -webkit-transition: all 0.25s linear !important;
   -ms-transition: all 0.25s linear !important;
   transition: all 0.25s linear !important;
}

nav.transparent {
  background-color:transparent !important;
}

nav.solid {
  background-color:rgba(244,187,69,1) !important;
}

nav a, nav a img, nav .button {
  color: white;
  display: block;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  font-size: 1.75rem;
}

.logo {
}

.logo a {
  position: relative;
	display: inline-block;
}

.logo a:before {
	pointer-events: none;
	position: absolute;
	content: '';
	bottom: -30px;
	left: 5%;
	height: 10px;
	width: 90%;
	filter: alpha(opacity=0);
	opacity: 0;
  	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  	background: -webkit-radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  	background: -moz-radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  	background: -o-radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-o-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-o-transition-property: transform, opacity;
	-ms-transition-property: transform, opacity;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}

.logo img:hover {
  margin-top: -8px;
  -o-transition-duration: 0.75s;
	-ms-transition-duration: 0.75s;
	-webkit-transition-duration: 0.75s;
	transition-duration: 0.75s;
}

.logo a:hover:before,
.logo a:focus:before,
.logo a:active:before {
	filter: alpha(opacity=100);
	opacity: 1;
}

.logo span {
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

.logo a:hover span,
.logo a:focus span,
.logo a:active span {
	-o-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}

.home.hero {
  background: url(../assets/hero-image.png) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
}

section.top {
  background: url(../assets/top-swoosh.png) no-repeat bottom right;
  background-color: white;
}

.bm-menu-wrap {
  z-index: 9999 !important;
}

.content {
  color: black !important;
}
.columns {
  min-width: 100%;
  padding: 30px 0;
}

.button.is-large {
  background-color: rgba(0,157,180,1);
  color: white;
  font-weight: bold;
}

.button.is-large:hover {
  color: white;
  box-shadow: inset 0 0 0 5px white;
}

@media screen and (min-width: 769px) {
  .bm-burger-button {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  .menu-item {
    display: none !important;
  }
  .logo a img {
    margin: 0 auto;
  }
  .box a.button {
    margin-left: 0!important;
  }
}
.bm-item-list a {
  font-weight:normal;
  font-size: 1.5rem;
}
.bm-item-list .subnav {
  font-size: 1.25rem !important;
}

.bm-item-list .bold {
  font-weight: bold;
}

.home .hero-body {
  padding: 11rem 1.5rem;
}

.home .hero-body .title {
  color: white;
}

.ticket-callout {
  padding: 3rem 3.5rem !important;
}
.box h2 {
  font-size: 2rem !important;
  color: white !important;
  margin-top: 14px !important;
}

.box a.button {
  margin-left: 33%;
}

.pull-up {
  margin-top: -92px !important;
}

.benifit .title, .speakers .title {
  color: rgba(244,187,69,1);
  margin-bottom: 3rem !important;
}

.benifit .subtitle {
  color:black
}

.speakers .title {
  color: rgba(244,187,69,1);
  margin-bottom: 0 !important;
}
