@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');
@import 'bulma.css';

body {
  background-color: white;
}

nav.transparent {
  background-color:transparent !important;
}

nav.solid {
  background-color:rgba(244,187,69,1) !important;
}

nav a, nav a img, nav .button {
  display: block;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  font-size: 1.75rem;
}

.home.hero {
  background: url(../assets/gradient.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
}

.bm-menu-wrap {
  z-index: 9999 !important;
}

.content {
  color: black !important;
}
.columns {
  min-width: 100%;
  padding: 30px 0;
}

nav .button.is-large {
  background-color: rgba(0,157,180,1);
  color: white;
}

nav .button.is-large:hover {
  background-color: white;
  color: rgba(244,187,69,1);
}

@media screen and (min-width: 769px) {
  .bm-burger-button {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  .menu-item {
    display: none !important;
  }
  .logo a img {
    margin: 0 auto;
  }
}
.bm-item-list a {
  font-weight:normal;
  font-size: 1.5rem;
}
.bm-item-list .subnav {
  font-size: 1.25rem !important;
}

.bm-item-list .bold {
  font-weight: bold;
}
